{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="row">

    <div class="col-sm-3 col-md-3"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
       
            <button class="btn btn-success "><a href="{% url 'new-profile' %}">UpdateProfile</a></button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
         <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
         {% for prof in myprofile%}
        <h1>{{prof.username}}</h2>
            <img src="{{prof.image.url}}" style="border-radius:50%; height:150px;width:40%" class="img-responsive"
            alt="Image">
        <p style="font-family: 'Satisfy', cursive;font-size:25px;">{{prof.user}}</p>
        <p style="font-family: 'Satisfy', cursive;font-size:25px;">{{prof.email}}</p>
        <!-- <p style="font-family: 'Satisfy', cursive;font-size:25px;">{{myprofile.location}}</p> -->
    </div>
    <div class="col-sm-2 col-md-2"></div>
{% endfor%}
</div>

 {% endblock %}